
.contenedor-nav{
   
    .contenedor-links-nav{
        margin: 10px;
        display: flex;
        list-style: none;
        
        li, a{
            margin: 5px;
            text-decoration: none;
            color: white;
        }
    }
}